<!DOCTYPE html>
<html lang="en">

<head>
   <title>가상화폐</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
   <script type="text/javascript"
      src="http://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.9.1/jquery.tablesorter.min.js"></script>
   <script src="https://code.highcharts.com/highcharts.js"></script>
   <script src="https://code.highcharts.com/modules/data.js"></script>
   <script src="https://code.highcharts.com/modules/exporting.js"></script>
   <script src="https://code.highcharts.com/modules/export-data.js"></script>
   <script src="https://code.highcharts.com/modules/accessibility.js"></script>

   <link rel="stylesheet" href="{{ static_url('css/app.css') }}" />

   <script>
      var baseCurrency = 'krw'
      var coinsObj = Object
      var klineObj = Object
      var btckrwChart = false

      // 서버에서 가격정보를 받을때 마다 onmessage 실행
      // 탭이 바뀔 때 마다 baseCurrency 가 바뀜

      function push_coin_price_on_message() {
         ws = new WebSocket("ws://localhost:8888/ws");

         ws.onmessage = function (evt) {
            const parsedData = JSON.parse(evt.data)
            console.log(parsedData)

            if ('kline_btckrw' in parsedData) { // kline 차트 데이터(총 4개)
               klineObj = parsedData
            } else { // 전체 코인 데이터
               coinsObj = parsedData
            }

            // onmessage 실행될때마다 테이블 업데이트
            push_coin_price()

            if (btckrwChart === false) {
               btckrwChart = draw_highchart(klineObj['kline_btckrw'])
            } else {
               btckrwChart.series[0].setData(klineObj['kline_btckrw'])
            }

         }
      }

      function push_coin_price() {
         const coinSymbols = Object.keys(coinsObj)

         for (var n = 0; n < coinSymbols.length; n++) {
            try {
               const coinSymbol = coinSymbols[n]
               if (baseCurrency in coinsObj[coinSymbol] === false) {
                  continue;
               }

               // krw 가격 이외의 코인들
               const coinOpenPrice = coinsObj[coinSymbol][baseCurrency]['open']
               const coinHighPrice = coinsObj[coinSymbol][baseCurrency]['high']
               const coinLowPrice = coinsObj[coinSymbol][baseCurrency]['low']
               const coinClosePrice = coinsObj[coinSymbol][baseCurrency]['close']
               const coinAmount = coinsObj[coinSymbol][baseCurrency]['amount']
               const coinCount = coinsObj[coinSymbol][baseCurrency]['count']
               var dailyChangeRate = ((coinClosePrice - coinOpenPrice) / coinOpenPrice * 100).toFixed(2)

               var coinVolume = coinsObj[coinSymbol][baseCurrency]['vol']

               if (baseCurrency === 'krw' || baseCurrency === 'usdt') {
                  coinVolume = coinsObj[coinSymbol][baseCurrency]['vol_million']
               }

               // 0 으로 나눠졌을 때 변동률 0으로 설정
               if (isFinite(dailyChangeRate) === false) {
                  dailyChangeRate = 0
               }

               // krw 이 있을 때 true 없을 때 false
               var krwExist = true
               if ('krw' in coinsObj[coinSymbol] === true) {
                  // krw 가격
                  var krwCoinOpenPrice = coinsObj[coinSymbol]['krw']['open']
                  var krwCoinHighPrice = coinsObj[coinSymbol]['krw']['high']
                  var krwCoinLowPrice = coinsObj[coinSymbol]['krw']['low']
                  var krwCoinClosePrice = coinsObj[coinSymbol]['krw']['close']
                  var krwCoinAmount = coinsObj[coinSymbol]['krw']['amount']
                  var krwCoinCount = coinsObj[coinSymbol]['krw']['count']
                  var krwCoinVolume = coinsObj[coinSymbol]['krw']['vol_million']
               } else {
                  krwExist = false
               }

               var coin_table_html = `
                  <tr id="${coinSymbol}">
                     <th>
                        <span class='coin-name'>${coinSymbol}</span>
                        <span class='coin-sub-name'>${coinSymbol}</span>
                     </th>
                     <th>
                        <span class='price'>${coinClosePrice}</span>
                        <span class="price-unit">${baseCurrency.toUpperCase()}</span>
                     </th>
                     <th class='compared-wrap up'>
                        <span class='compared'>${dailyChangeRate}</span>
                        <span class='arrow'>
                           <i></i>
                        </span>
                     </th>
                     <th>
                        <span class='today-high'>${coinHighPrice}</span>
                        <span class="price-unit">${baseCurrency.toUpperCase()}</span>
                     </th>
                     <th>
                        <span class='today-low'>${coinLowPrice}</span>
                        <span class="price-unit">${baseCurrency.toUpperCase()}</span>
                     </th>
                     <th>
                        <span class='transaction-price'>${coinVolume}</span>
                        <span class="price-unit">백만</span>
                     </th>
                     <th class='trade-btn'>거래</th>
                  </tr>
               `

               // coin_row 는 최초에 그려진 테이블의 element, id 는 coinSymbol
               // 해당 element 가 없으면 테이블이 그려진 적이 없는 것 -> 최초로 그려주어야함
               let coin_row = $('#' + coinSymbol)
               const Million = '<span data-v-162bd38f="" class="text-subtitle"> 백만 </span>'
               const currencyUnit = `<span data-v-162bd38f="" class="text-subtitle"> ${baseCurrency.toUpperCase()} </span>`

               // 그려진 테이블이 없으면 새로 추가하고, 있으면 해당 element 값을 empty 한 뒤 원래 있던 element 에 append 해준다.
               // krw 의 경우 밑에 krw 를 추가하면 안되고, 나머지의 경우는 밑에 krw 를 추가해줘야한다.

               if (baseCurrency !== 'krw' && krwExist === true) { // krw 이외 단위들 && (krw 데이터가 있을 때) -> 최초에 그려진적 있는지/ 안그려졌는지
                  if (!(coin_row.length)) {
                     $('#coin_table_body').append(coin_table_html)
                  }

                  $('#' + coinSymbol + '_close_price').html(coinClosePrice + currencyUnit + krw_html(krwCoinClosePrice))
                  $('#' + coinSymbol + '_high_price').html(coinHighPrice + currencyUnit + krw_html(krwCoinHighPrice))
                  $('#' + coinSymbol + '_low_price').html(coinLowPrice + currencyUnit + krw_html(krwCoinLowPrice))
                  $('#' + coinSymbol + '_volume').html(coinVolume + Million + krw_html(krwCoinVolume, '백만'))
                  $('#' + coinSymbol + '_change_rate').html(dailyChangeRate + '%')
               } else { // 단위가 krw 일때 -> 최초에 그려진적있는지/ 최초에 안그려졌는지
                  if (!(coin_row.length)) {
                     $('#coin_table_body').append(coin_table_html)
                  }
                  $('#' + coinSymbol + '_close_price').html(coinClosePrice + currencyUnit)
                  $('#' + coinSymbol + '_high_price').html(coinHighPrice + currencyUnit)
                  $('#' + coinSymbol + '_low_price').html(coinLowPrice + currencyUnit)
                  $('#' + coinSymbol + '_volume').html(coinVolume + Million)
                  $('#' + coinSymbol + '_change_rate').html(dailyChangeRate + '%')
               }

            } catch (err) {
               console.log(err.message)
            }
         }
         // dynamic table sorting coin_table id 로 table 을 찾은 뒤 tablesorter() 설정
         $("#coin_table").tablesorter()
         $("#coin_table").trigger("update").trigger("appendCache")
      }

      // 탭이 변경될 때 마다 테이블 새로 그려주기 위해 push_coin_price() 실행
      function change_basecurrency_on_tap_event(currency) {
         $('#coin_table_body').empty()
         baseCurrency = currency
         push_coin_price()
      }

      // krw 단위로 표시, krw 탭 외에 btc, ht, eth 는 각각의 가격 밑에 krw 단위가 따로 있음
      function krw_html(price, currency = 'KRW') {
         return `<p data-v-162bd38f="" class="conversion fz12">
                  <span data-v-162bd38f="" class="text-holder lh18">
                  ${price}
                  </span>
                  <s data-v-162bd38f="" class="text-holder lh18">
                  ${currency}
                  </s>
                  </p>
                  `
      }

      function draw_highchart(data) {
         var chartOptions = {
            chart: {
               zoomType: 'x',
               renderTo: $('#btckrw_container'),
               backgroundColor: 'transparent'
            },
            title: {
               text: ''
            },
            legend: {
               enabled: false
            },
            credits: {
               enabled: false
            },
            exporting: false,
            xAxis: {
               labels: {
                  enabled: false
               },
               title: false,
               visible: false
            },
            yAxis: {
               labels: {
                  enabled: false
               },
               title: false,
               visible: false
            },
            plotOptions: {
               area: {
                  fillColor: {
                     linearGradient: {
                        x1: 0,
                        y1: 0,
                        x2: 0,
                        y2: 1,
                     },
                     stops: [
                        [0, '#f9f9f9'],
                     ]
                  },
                  marker: {
                     radius: 2
                  },
                  lineWidth: 1,
                  states: {
                     hover: {
                        lineWidth: 1
                     }
                  },
                  threshold: null
               }
            },
            series: [{
               type: 'area',
               data: data
            }]
         }

         btckrw_chart = Highcharts.chart('btckrw_container', chartOptions)
         return btckrw_chart
      }

      push_coin_price_on_message()

   </script>
</head>

<body>
   <div class='wrap'>
      <div class="content">
         <div class="graph">
            <div class="coin-line" id='btckrw_container'>
               <div class="title">
                  <span class="coin-name">
                     비트코인
                  </span>
                  <span class='coin-sub-name'>
                     <span class="coin-code">BTC</span>
                     <span class='name-unit'> | KRW </span>
                  </span>
               </div>
               <div class="price">
                  <span class='price-num'>123,123,123,123</span>
                  <span class='price-unit'>KRW</span>
               </div>
               <div class="rate no-rise">
                  -0.62 %
               </div>
               <div class="amount">
                  거래대금 : 4,031 백만
               </div>
            </div>
            <div class="coin-line">
               <div class="title">
                  <span class="coin-name">
                     이더리움
                  </span>
                  <span class='coin-sub-name'>
                     <span class="coin-code">ETH</span>
                     <span class='name-unit'> | KRW </span>
                  </span>
               </div>
               <div class="price down">
                  <span class='price-num'>123,123,123,123</span>
                  <span class='price-unit'>KRW</span>
               </div>
               <div class="rate down">
                  -0.62 %
               </div>
               <div class="amount">
                  거래대금 : 4,031 백만
               </div>
            </div>
            <div class="coin-line">
               <div class="title">
                  <span class="coin-name">
                     테더
                  </span>
                  <span class='coin-sub-name'>
                     <span class="coin-code">USDT</span>
                     <span class='name-unit'> | KRW </span>
                  </span>
               </div>
               <div class="price up">
                  <span class='price-num'>123,123,123,123</span>
                  <span class='price-unit'>KRW</span>
               </div>
               <div class="rate up">
                  -0.62 %
               </div>
               <div class="amount">
                  거래대금 : 4,031 백만
               </div>
            </div>
            <div class="coin-line">
               <div class="title">
                  <span class="coin-name">
                     후오비토큰
                  </span>
                  <span class='coin-sub-name'>
                     <span class="coin-code">HT</span>
                     <span class='name-unit'> | KRW </span>
                  </span>
               </div>
               <div class="price">
                  <span class='price-num'>123,123,123,123</span>
                  <span class='price-unit'>KRW</span>
               </div>
               <div class="rate no-rise">
                  -0.62 %
               </div>
               <div class="amount">
                  거래대금 : 4,031 백만
               </div>
            </div>
         </div>
         <div class="table-wrap">
            <div class="table-nav">
               <ul>
                  <li>
                     <input type="radio" name="radio" id="radio_favor" value="favor">
                     <label for="radio_favor">
                        <i class="icon-favor-off"></i>
                        관심코인
                     </label>
                  </li>
                  <li>
                     <input type="radio" name="radio" id="radio_krw" value="krw" onclick='change_basecurrency_on_tap_event(this.value)'>
                     <label for="radio_krw">
                        KRW
                     </label>
                  </li>
                  <li>
                     <input type="radio" name="radio" id="radio_usdt" value="usdt" onclick='change_basecurrency_on_tap_event(this.value)'>
                     <label for="radio_usdt">
                        USDT
                     </label>
                  </li>
                  <li>
                     <input type="radio" name="radio" id="radio_btc" value="btc" onclick='change_basecurrency_on_tap_event(this.value)'>
                     <label for="radio_btc">
                        BTC
                     </label>
                  </li>
                  <li>
                     <input type="radio" name="radio" id="radio_ht" value="ht" onclick='change_basecurrency_on_tap_event(this.value)'>
                     <label for="radio_ht">
                        HT
                     </label>
                  </li>
               </ul>
               <div class="search-input">
                  <input type="text" autocomplete="off" growing-ignore="true" class="search-input-inner">
                  <span class="">
                     <i class=""></i>
                  </span>
               </div>
            </div>

            <div class="table-header">
               <table id='coin_table'>
                  <colgroup>
                     <col style="width: 10%;">
                     <col style="width: 10%;">
                     <col style="width: 10%;">
                     <col style="width: 10%;">
                     <col style="width: 10%;">
                     <col style="width: 10%;">
                     <col style="width: 10%;">
                  </colgroup>
                  <thead class='sort-nav'>
                     <tr>
                        <th>코인명</th>
                        <th>
                           가격
                           <span class='arrow'>
                              <i></i>
                              <i></i>
                           </span>
                        </th>
                        <th>
                           전일대비
                           <span class='arrow'>
                              <i></i>
                              <i></i>
                           </span>
                        </th>
                        <th>
                           당일고가
                           <span class='arrow'>
                              <i></i>
                              <i></i>
                           </span>
                        </th>
                        <th>
                           당일저가
                           <span class='arrow'>
                              <i></i>
                              <i></i>
                           </span>
                        </th>
                        <th>
                           거래대금
                           <span class='arrow'>
                              <i></i>
                              <i></i>
                           </span>
                        </th>
                        <th>빠른거래</th>
                     </tr>
                  </thead>
                  <div class="table-body">
                     <tbody id='coin_table_body'>
                     </tbody>
                  </div>
               </table>
            </div>

         </div>
      </div>
   </div>

</body>

</html>