/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






/* 
.wrap {
    padding: 0 30px;
} */
.content {
    min-width: 1292px;
    max-width: 1292px;
}
.graph .coin-line {
    display: inline-block;
    border: 1px solid #dcd9d4;
    border-radius: 2px;
    position: relative;
    margin-right: 22px;
    width: 303px;
    height: 120px;
    cursor: pointer;
}
.graph .coin-line:last-child {
    margin-right: 0;
}
.graph .coin-line:hover {
    box-shadow: 1px 2px 4px 0 rgba(0,0,0,.2);
}
.graph .coin-line .title {
    height: 34px;
    line-height: 34px;
    margin: 13px 0 0 20px;
    text-transform: uppercase;
}
.graph .coin-line .title .coin-name {
    font-weight: 700;
    font-size: 18px;
}
.graph .coin-line .title .coin-sub-name {
    font-size: 12px;
    margin-left: 6px;
}
.graph .coin-line .title .coin-sub-name .name-unit {
    color: #898989;
}
.graph .price {  
    margin: 2px 0 0 20px;
    height: 24px;
    line-height: 24px;
    text-align: left;
}
.graph .price.up {
    color: #e51e40;
}
.graph .price.down {
    color: #0c59c0;
}

.graph .price .price-num {
    font-size: 24px;
    font-weight: 700;
}
.graph .price .price-unit {
    margin-left: 6px;
    font-size: 16px;
}
.graph .rate {
    position: absolute;
    top: -1px;
    right: -1px;
    padding: 2px 9px;
    z-index: 2;
    font-size: 12px;
    line-height: 21px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2px;
    color: #fff;
    font-weight: 700;
}
.graph .rate.down {
    background-color: #0c59c0;
}
.graph .rate.up {
    background-color: #e51e40;
}
.no-rise {
    background-color: #3b3b3a;
}
.graph .amount {
    position: absolute;
    text-align: right;
    right: 16px;
    line-height: 20px;
    z-index: 1;
    bottom: 8px;
    color: #898989;
    font-size: 12px;
}
.table-wrap {
    width: 100%;
}
.table-wrap .table-nav {
    position: relative;
    font-size: 18px;
    height: 46px;
    line-height: 46px;
    margin-top: 20px;
}
.table-wrap .table-nav ul {
    line-height: 22px;
    display: inline-block;
}
.table-wrap .table-nav ul li {
    border-left: none;
    margin-left: 0;
    padding-left: 0;
    display: inline-block;
    position: relative;
    height: 100%;
    line-height: 1;
    margin-left: 30px;
    margin-right: 0;
    padding-left: 30px;
    border-left: 1px solid #dcd9d4;
}
.table-wrap .table-nav ul li:first-child {
    margin-left: 0px;
    padding-left: 0;
}
.table-wrap .table-nav ul li input[type=radio] {
    display: none;
}
.table-wrap .table-nav ul li input[type=radio]:checked + label {
    color: #986f0a;
}
.table-wrap .table-nav ul li label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    color: #898989;
    font-weight: bold;
}
.table-wrap .table-nav ul li label i {
    display: inline-block;
    width:18px;
    height:18px;
    margin-right: 6px;
    border: 1px solid #898989;
    vertical-align: text-top;
}
.table-wrap .table-nav .search-input {
    display: inline-block; 
    vertical-align: middle;
    width: 282px;
    height: 28px;
    font-size: 12px;
    position: relative;
    left: 600px;
}
.table-wrap .table-nav .search-input input{
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0 30px 0 15px;
    text-transform: uppercase;
}
.table-wrap .table-nav .search-input span {
    position: absolute;
    width: 18px;
    height: 18px;
    display: inline-block;
    border: 1px solid;
    top: 5px;
    right: 7px;
}
.table-wrap table {
    width: 100%;
}
.table-wrap .table-header {
    color: #898989;
    font-weight: 500;
    font-size: 12px;
    background: #fafafa;
    border-bottom: 1px solid #ebeef5;
}
.table-wrap .table-header th {
    height: 35px;
    line-height: 35px;
    text-align: right;
    padding-left: 5px;
    padding-right: 20px;
    position: relative;
}
.table-wrap .table-header th:first-child {
    padding-left: 30px;
    text-align: left;
}
.table-wrap .table-header th:last-child {
    padding-right: 30px;
}
.table-wrap .table-header .arrow {
    position: absolute;
    top: 7px;
    right: 6px;
    cursor: pointer;
}
.table-wrap .table-header .arrow i {
    display: block;
    width: 8px;
    height: 8px;
    border: 1px solid #898989;
}
.table-wrap .table-header .arrow i:last-child {
    margin-top: 3px;
}
.table-wrap .table-body {
    max-height: 549px;
    overflow-y: auto;
    position: relative;
    width: 100%;
}
.table-wrap .table-body::-webkit-scrollbar {
    width: 5px!important;
    height: 5px!important;
}
.table-wrap .table-body::-webkit-scrollbar-thumb {
    background-color: #c8d0da;
    border-radius: 3px;
}
.table-wrap .table-body tr {
    border-bottom: 1px solid #ebeef5;
}
.table-wrap .table-body th {
    height: 60px;
    line-height: 60px;
    text-align: right;
    position: relative;
    font-size: 14px;
    padding-right: 5px;
}
.table-wrap .table-body th:first-child {
    padding-left: 30px;
    text-align: left;
}
.table-wrap .table-body th:last-child {
    padding-right: 30px;
}
.table-wrap .table-body .coin-name {
    position: absolute;
    top: -7px;
    font-size: 12px;
    font-weight: 700;
}
.table-wrap .table-body .coin-sub-name {
    position: absolute;
    top: 10px;
    font-size: 12px;
    color:#666;
}
.table-wrap .table-body .compared-wrap.up .compared{
    color: #e51e40;
}
.table-wrap .table-body .compared-wrap.up .arrow{
    border: 1px solid #e51e40;
}
.table-wrap .table-body .compared-wrap.down .compared{
    color: #0c59c0;
}
.table-wrap .table-body .compared-wrap.down .arrow{
    border: 1px solid #0c59c0;
}
.table-wrap .table-body .compared-wrap .arrow{
    display: inline-block;
    width: 8px;
    height: 8px;
    border: 1px solid #898989;
}
.table-wrap .table-body .price-unit {
    color: #898989;
}
.table-wrap .table-body .trade-btn {
    font-weight: bold;
    color: #986f0a;
    cursor: pointer;
}
